/* Global CSS styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
